name: Windows CI
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-2019
    strategy:
      matrix:
        include:
        - { sys: MINGW32, archive-suffix: "-32bit" }
        - { sys: MINGW64, archive-suffix: "-64bit" }
    defaults:
      run:
        shell: msys2 {0}
    name: MSYS2 ${{ matrix.sys }}
    steps:

    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.sys }}
        release: false
        pacboy: >-
          meson:p
          pkgconf:p
          libpng:p
          asciidoctor:p

    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      run: |
        meson --buildtype=release build
        ninja -C build

    - name: Test
      run: ninja -C build test

    - name: Create artifacts
      run: |
        mkdir artifacts
        cp build/*.exe artifacts/
        rm artifacts/*_tests.exe
        strip artifacts/*.exe
        cp COPYING artifacts/
        mkdir artifacts/docs
        cp build/*.html artifacts/docs
        mkdir artifacts/docs/image
        cp docs/image/* artifacts/docs/image

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: xsys35c${{ matrix.archive-suffix }}
        path: artifacts
